# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# generated
**/node_modules
**/dist
**/dist-ssr
**/build
**/coverage
**/.DS_Store
**/*.local
**/.temp
**/*.tsbuildinfo

# secrets
**/.env
